
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Portfolio Website</title>
    <link rel="stylesheet" href="..\CrazyuncleFunk.github.io\index.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Average+Sans|Ubuntu:400,700&display=swap" rel="stylesheet">
 </head>
 <body>
 <div id="app">


   <header>
     <div class="logo">
       <div class="title">
       <h2 class="logo-head">Erin Dunn</h2>
       <p class="logo-subhead">Portfolio</p>
     </div>
       <i v-if="!dropMenu" class="fa fa-bars menu" @click="dropMenu = !dropMenu" ></i>
     </div>
     <nav>
       <ul>
         <li><a class="bar current-page" href="..\CrazyuncleFunk.github.io\index.html">Home</a></li>
         <li><a class="bar" href="..\CrazyuncleFunk.github.io\projects.html">Projects</a></li>
         <li><a class="bar" href="..\CrazyuncleFunk.github.io\contact.html">Contact</a></li>
       </ul>
     </nav>
   </header>
   <div class="drop-menu" v-if="dropMenu" >
     <i class="fa fa-window-close close" @click="dropMenu = !dropMenu" ></i>
     <ul class="drop-ui">
       <li class="drop-li"><a class="bar current-page drop-a" href="..\CrazyuncleFunk.github.io\index.html">Home</a></li>
       <li class="drop-li"><a class="bar drop-a" href="..\CrazyuncleFunk.github.io\projects.html">Projects</a></li>
       <li class="drop-li"><a class="bar drop-a" href="..\CrazyuncleFunk.github.io\contact.html">Contact</a></li>
     </ul>
   </div>
   <main>
  <h1 >Hello I'm Erin</h1>
  <p class="subtitle">A web developer</p>
  <div class="profile-bar">
    <a class="btn codepen-link" href="https://codepen.io/Erindunn/pens/public/"
   target="_blank" >My CodePen <i class="fab fa-codepen"></i></a>
    <a class="btn github-link" href="https://github.com/CrazyuncleFunk?tab=repositories"
      target="_blank" >My Github <i class="fab fa-github"></i></a>

  </div>
</main>
</div>
 </body>
 <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
 <script type="text/javascript" src="../CrazyuncleFunk.github.io/index.js"></script>
</html>
