body{
  margin:0;
  height:100vh;
  width:100vw;
  background-image: url(sakura.png);
}
#outer-header{
  width:100vw;
  height:80px;
  background-color:grey;
  display:flex;
  flex-direction:row;

}
#small-head{
  flex:1;

  background-color:black;
}
#small-head h1{
 color:white;
 line-height:70px;
 margin-left:0.5vw;

}
#large-head{
  flex:3;
  background-color:white;
  display:flex;
  text-decoration: none;
  justify-content: flex-end;

}

.bar{
  text-decoration: none;
  color:black;
  margin-right:50px;
}
.bar:hover{
  color:red;
}
ul{
  display:flex;
  text-decoration: none;
  font-size:1em;
}
li{
  font-size:2em;
  padding: 10px;
  list-style: none;
  color:white;
  line-height:60px;
}
#main-div{
  margin-top:200px;
  margin-bottom:200px;
  width:100vw;
  display: flex;

}
.outer{
 width:50vw;
 display:flex;
 justify-content:space-around;
}
.inner{
  margin-top:50px;
  height:550px;
  width:400px;
  background-color:white;
  background-image: url(round.png);
border:1px solid black;
}
.project-image{
  margin-left:25px;
  height:300px;
  width:350px;
  border:1px solid black;
  border-top: 0px
}
.project-tile:hover{
  color:red;

}
.color{
  height:300px;
  width:350px;
  margin:auto;
}
#yellow{
  background-color:yellow;
}
#red{
  background-color:red;
}
#blue{
  background-color:blue;
}
#green{
  background-color:green;

}

.inner{
  position: relative;
}
.github{
  text-align: center;
  text-decoration: none;
  color:black;
  font-size: 22px;
  position: absolute;
  bottom: 10px;
  left:130px;
}
.github:hover{
  color:red;
}
.project-tile{
  text-align: center;
  text-decoration: none;
  color:black;
  font-size: 30px;
}
img{
  object-fit: contain;
}
@media only screen and (max-height:970px){
  .inner{
    margin-top:0px;
  }
  #main-div{
    margin-top:60px;
  }
}
@media only screen and (max-height:870px){
  .inner{
    margin-top:0px;
  }
  #main-div{
    margin-top:40px;
  }
}
@media only screen and (max-height:800px){
  .inner{
    margin-top:0px;
  }
  #main-div{
    margin-top:20px;
  }
  .inner{
    height:450px;
  }
 .github{
   bottom: 0px;
 }

}



@media only screen and (max-height:770px){
  .inner{
    margin-top:0px;
  }
  #main-div{
    margin-top:10px;
  }
}

@media only screen and (max-width:1600px){
  #outer-header{
    flex-direction:column;
    height:120px;
  }
  #main-div{
   flex-direction:column;
    margin:auto;
  }
  .outer{
    margin:auto;
    width:100vw;
  }
  .inner{
    margin:auto;

    margin-top:20px;
  }
  #small-head{
    height:80px;
    flex:2;
  }
  #large-head{
    flex:1;
    justify-content:center;
    height:40px;
  }
  ul{
    font-size:0.7em;
  }
  li{
    line-height:0px;
  }
}
@media screen and (max-width:1000px){
  .outer{
    flex-direction:column;
    margin:auto;
  }

}
