@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
body{
   width:100vw;
   height:100vh;
   background-color:black;
   font-family: 'Orbitron', sans-serif;
   color:silver;
   text-align:center;
   background-repeat: no-repeat;
   background-position:center;
   background-size:contain;
   display:flex;
   flex-direction: column;
}
h1{
text-align:center;
}
.container{
  margin: 0 auto;
  border-radius:1vh;

}

#text-box{
  background-color: white;
  margin:0 auto;
  width:60%;
  padding:2em;
  color:black;
}
